if ARCH_CNS21XX

menu "Cavium ECONA CNS21XX Options"

config ARCH_CNS21XX_EARLY_CONSOLE
	bool "Enable UART0 port in early boot stage."
	help
	  This option is typically needed for debugging kernel 
	  in early boot stage, before UART is configured in standard way.

endmenu

endif
